body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	background-color: #f9f9f9;
	color: #333;
}

#root {
	margin: 0 auto;
	width: 640px;
}

.App {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.App h1 {
	position: sticky;
	top: 0;
	z-index: 10;
	text-align: center;
	margin: 0;
	background-color: #eee;
	padding: 15px;
	border-radius: 4px;
}

.messages {
	flex: 1;
	display: flex;
	flex-direction: column-reverse;
	gap: 15px;
	padding: 20px;
	overflow-y: auto;
}

.message {
	border: 1px solid #ddd;
	padding: 15px;
	border-radius: 4px;
	background: #ffffff;
}

.message strong {
	color: #333;
}

.message p {
	margin: 8px 0;
}

.message small {
	color: #777;
}

.post-section {
	position: sticky;
	bottom: 0;
	background-color: #f4f4f4;
	padding: 20px 20px 30px;
	border-radius: 4px;
	border: 1px solid #ccc;
	z-index: 10;
}

.post-section h2 {
	margin-top: 0;
}

form {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

input,
textarea {
	color: #000;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	background-color: #fafafa;
	font-size: 16px;
}

textarea {
	min-height: 80px;
	resize: vertical;
	margin-bottom: 15px;
}

button {
	padding: 10px 20px;
	background: #007bff;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-weight: 900;
	font-size: 16px;
	transition: background 0.275s ease;
}

button:hover {
	background: #0056b3;
}

.no-messages {
	text-align: center;
	color: #777;
	font-style: italic;
}
